@import '../scss/main';
body{
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}
body *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid #ddd;
}
section{
  position: relative;
}
.wrapper{
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 8.333333333%;
  padding-right: 8.333333333%;
  width: 100%;
}

/* header-- */
.header{
  background-color: initial;
  height: 120px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
  opacity: 0;
  transition: 0.5s;
}
.header .wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.header a.link{
  margin-right: 40px;
  @include pad{
    display: none;
  }
}
.header img.logo{
  @include phoneSE{
    width: 120px;
  }
}
.header .download-header{
  @include phoneSE{
    padding: 10px 20px;
    font-size: 14px;
  }
}
/* banner-- */

section.banner .cover-svg{
  width: 65%;
  margin: auto;
}
section.banner h1.caption{
  font-weight: 700;
  margin: 0 0 28px;
  text-align: center;
  transition-delay: .3s;
  font-size: 80px;
  @include pad{
    font-size: 52px;
  }
}
section.banner p.decription{
  font-size: 22px;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 894px;
  text-align: center;
  @include pad{
    font-size: 16px;
  }
}
section.banner article:nth-of-type(2){
  margin: 50px 0 100px 0;
}
.text-wrap{
  display: block;
}

section.banner button.download{
  padding: 16px 52px;
  display: block;
  margin: auto auto 12px auto;
}

section.banner p.available-platform{
  text-align: center;
  font-size: 13px;
}


/* present-scooter-- */
section.present-scooter{
  background: linear-gradient(180deg,#06f3f9 0,#06f3f9 80%,#0074ff 0,#0074ff);
}
section.present-scooter .wrapper{
  position: relative;
  z-index: 2;
  min-height: 650px;
  padding-top: 0;
  @include pad{
    min-height: 550px;
  }
  @include phone{
    min-height: 300px;
  }
}

section.present-scooter .scooter-showcase{
  background-image: url('../img/scooter.png');
  background-position: left calc(50% + 38px) bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -10%;
  display: block;
  left: 0;
  margin: auto;
  max-width: 740px;
  padding-top: 100%;
  position: absolute;
  right: 0;
  width: 100%;
  @include pad{
    background-position: left 50% bottom;
    padding-top: 91.5%;
  }
  @include phone{
     padding-top: 100%;
  }
}

/* scroll-bicycle--- */
section.scroll-bicycle{
  width: 100vw;
  box-sizing: border-box;
}
section.scroll-bicycle:before{
  content: "";
  display: block;
  height: 120px;
  opacity: .9;
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: #0074ff;
}
section.scroll-bicycle .wrapper-scroll-bicycle{
  position: relative;
  padding-left: 0;
  padding-right: 0;
  @include pc-sm{
    padding-left: 8.333333333%;
    padding-right: 8.333333333%;
  }
  @include phone{
    padding-left: 4.333333333%;
    padding-right: 4.333333333%;
  }
}

section.scroll-bicycle h2{
  font-size: 64px;
  font-weight: normal;
  @include pad{
    font-size: 36px;
  }
}
.steps-caption{
  @include pc{
    padding-left: 8.33333%;
    padding-right: 8.33333%;
  }
}
.step{
  height: 90vh;
  position: relative;
  overflow: hidden;
  @include pc-sm{
    height: 50vh;
  }
  @include pad{
    height: 30vh;
  }
}
.animation-wrapper{
  height: calc(100vh - 0px);
  margin: auto;
  overflow: hidden;
  position: sticky;
  top: 0px;
  z-index: 1;
  @include pc-sm{
    display: none;
  } 
}
.step-1{
  margin-top: -80vh;
  @include pc-sm{
    margin-top: 0;
  } 
}

.step-1 .content, .step-2 .content, .step-3 .content{
  align-items: flex-start;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  max-width: 384px;
  overflow: visible;
  width: 27vw;
  @include pc-sm{
     max-width: 100%;
     width: 100vw;
  }
}
.step-1 .content{
  top: 0;
  left: 6.333333333%;
  @include pc-sm{
    left: 0;
  }
}
.step-2 .content{
  top: 0;
  right: 8.3%;
  @include pc-sm{
    right: 0;
  }
}
.step-3 .content{
  top: 0;
  left: 6.333333333%;
  @include pc-sm{
    left: 0;
  }
}
.smile-face{
  bottom: 0;
  height: 360px;
  left: -10%;
  margin: auto;
  position: absolute;
  right: 0;
  top: -2%;
  transition:  .5s cubic-bezier(0,0,.2,1),opacity .5s cubic-bezier(0,0,.2,1);
  transform: translateX(0%);
  width: 360px;
  z-index: -1;
  opacity: 0;
}

.step-number{
  position: absolute;
  color: #173e6f;
  font-size: 500px;
  opacity: 0;
  transition-duration: .5s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0,0,.2,1);
  z-index: 1;
  @include pc-sm{
    display: none;
  }
}
.step-number1{
  left: -50px;
  top: 20px;
}
.step-number2{
  left: unset;
  right: -150px;
}
h3.step-caption{
  font-size: 44px;
  color: #ffffff;
  font-weight: normal;
  position: relative;
  z-index: 1;
  margin: 0 0 20px 110px;
  top: 0px;
  opacity: 0;
  @include pc-sm{
     margin: 0 0 20px 0;
     width: 100%;
     text-align: center;
  }
  @include pad{
    font-size: 28px;
  }
}
p.step-content{
  font-size: 20px;
  color: #ffffff;
  width: 90%;
  position: relative;
  z-index: 1;
  font-weight: 500;
  margin: 0 0 0 110px;
  opacity: 0;
  @include pc-sm{
     margin: 0 0 0 0;
     width: 100%;
     text-align: center;
  }
  @include pad{
    font-size: 14px;
  }
}

.holding-cellphone{
  background-image: url('../img/img-phone-hand.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1000px 540px;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 180px;
  transform: scale(1.4);
  width: 1000px;
  z-index: 2;
  @include pc-sm{
    opacity: 0;
  }
}
.step-video{
  border-radius: 20px;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 180px;
  transform: translateY(-86px) scale(1.4);
  width: 180px;
}
/* go-ride-- */
section.go-ride{
  padding: 200px 0;
  position: relative;
  overflow: hidden;
  @include pad{
    padding: 100px 0;
  }
}
section.go-ride .row{
  display: flex;
  @include pad{
    display: block;
  }
}
section.go-ride .col-svg,section.go-ride .col-text{
  width: 50%;
  @include pad{
    width: 100%;
  }
}
section.go-ride .col-text{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
section.go-ride .col-text h2{
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 20px;
  z-index: 1;
  @include pad{
    text-align: center;
    font-size: 28px;
    width: 100%;
  }
}
section.go-ride .col-text p{
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 12px;
  z-index: 1;
  @include pad{
    font-size: 14px;
    text-align: center;
  }
}
section.go-ride h3.see{
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
  text-decoration: underline;
  @include pad{
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}
section.go-ride p.notice{
  font-size: 16px;
  opacity: .5;
  @include pad{
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
}
section.go-ride .wrapper:nth-of-type(2){
  margin-top: 220px;
}
section.go-ride .dots{
  left: calc(50% - 720px);
  max-height: 860px;
  max-width: 1440px;
  position: absolute;
  top: calc(50% - 50px);
  z-index: 0;
  width: 100vw;
  @include pc-sm{
     width: 100%;
     left: 0;
  }
  @include pad{
    position: relative;
    display: block;
  }
  @include phone{
    width: 200%;
    margin-left: -100px;
  }
}




/* promotion-- */
section.promotion{
  padding: 150px 0;
  background-color: #06f3f9;
}
section.promotion img.ride{
  display: block;
  max-width: 480px;
  left: calc(50% - 240px);
  top: -280px;
  position: absolute;
  @include pad{
    display: none;
  }
}


section.promotion .banner01 h2{
  font-size: 64px;
  text-align: center;
  color: #fff;
  @include  pad{
    font-size: 36px;
  }
}

.banner01 p.subtitle{
  font-size: 16px;
  color: #000000;
  opacity: 0.3;
  text-align: center;
  @include pad{
    margin-top: 30px;
    padding: 0 60px;
  }
}



/* footer */
footer{
  background-color: #173e6f;
  padding: 120px;
  @include phone{
    padding: 80px 30px;
  }
}
footer .downloads{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
footer img.icon{
  display: inline-block;
  width: 149px;
  margin-right: 16px;
}

footer ul li{
  text-align: center;
  color: #fff;
  list-style: none;
  font-size: 18px;
  margin-bottom: 12px;
}
footer .solical{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
footer .solical img.socila{
  margin:0 24px 60px 0;
  width: 32px;
}

footer .language{
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  margin-bottom: 60px;
}
footer .language span{
  padding: 0 16px;
}

footer .gogoro_logo img.gogoro_icon{
  display: block;
  margin: auto auto 40px auto;
}
footer .legal_title{
  margin-bottom: 20px;
  @include phone{
    text-align: center;
  }
}

footer .privacy{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color: #ffffff4d;

}

footer .copyright{
  text-align: center;
}